##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*


##############################
## static
##############################
/src/main/resources/public/

##############################
## Maven
##############################
target/

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
log/

##############################
## OS X
##############################
.DS_Store

# Configuration
/src/main/resources/application-dev.yml
/src/main/resources/application-test.yml
/src/main/resources/application-prod.yml

